<div class='tab-container'>
  <ng-container *ngFor='let item of data.details.foa_stats.items'>
    <div class='item'>
      <span class='foa'>
        <a [href]='"https://next.obudget.org/i/reports/ngo-activity-report/" + item.label + "?theme=socialmap"'>
          {{item.label}}
        </a>
      </span>
      <div class='amount-container'>
        <span class='amount' [style.width]='(100 * item.num / max) + "%"'>{{item.num.toLocaleString()}}</span>
      </div>
    </div>
    <div class='item'>
      <div class='filler'>
      </div>
    </div>
  </ng-container>
  <div class='more'>
    <a class="btn btn-primary btn-lg"
      [href]="'https://next.obudget.org/s/?theme=socialmap&dd=field-of-activity-reports&q=ארגונים+הפעילים+בתחום'">
      חפשו ארגונים פעילים בתחומים נוספים
    </a>
  </div>
</div>
